<a href="https://colab.research.google.com/github/Jkhou1000/Project_repository/blob/main/Project_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [113]:
import pandas as pd

In [114]:
filename = "/content/drive/MyDrive/Coding Dojo/Stack 1/W2: Pandas/sales_predictions (1).csv"
df_food = pd.read_csv(filename)
df_food.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [115]:
#Rows and Columns
df_food.shape

(8523, 12)

In [116]:
df_food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [117]:
#I am going to rename all these to simplifiy them slightly
df_food = df_food.rename(columns={'Item_Identifier':'i_ident',
                             'Item_Weight': 'i_weight',
                             'Item_Fat_Content': 'fat_content',
                             'Item_Visibility': 'i_visibility',
                             'Item_Type': 'i_type',
                             "Item_MRP": 'max_retprice',
                             'Outlet_Identifier': 'o_identify',
                             'Outlet_Establishment_Year': 'estab_year',
                             'Outlet_Size': "o_size",
                             'Outlet_Location_Type': 'o_loctype',
                             'Outlet_Type': 'o_type',
                             'Item_Outlet_Sales': 'io_sales'})

df_food.head()

,i_ident,i_weight,fat_content,i_visibility,i_type,max_retprice,o_identify,estab_year,o_size,o_loctype,o_type,io_sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [118]:
df_food.duplicated()
#Uh oh, too many rows!

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Length: 8523, dtype: bool

In [119]:
df_food.duplicated().sum()
#No duplicates?

0

In [120]:
df_food.isna()
#Again, time to sum it up

,i_ident,i_weight,fat_content,i_visibility,i_type,max_retprice,o_identify,estab_year,o_size,o_loctype,o_type,io_sales
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8518,False,False,False,False,False,False,False,False,False,False,False,False
8519,False,False,False,False,False,False,False,False,True,False,False,False
8520,False,False,False,False,False,False,False,False,False,False,False,False
8521,False,False,False,False,False,False,False,False,False,False,False,False
8522,False,False,False,False,False,False,False,False,False,False,False,False

In [121]:
df_food.isna().sum()

i_ident            0
i_weight        1463
fat_content        0
i_visibility       0
i_type             0
max_retprice       0
o_identify         0
estab_year         0
o_size          2410
o_loctype          0
o_type             0
io_sales           0
dtype: int64

In [122]:
df_food.dropna(subset=['i_weight'], inplace=True)
df_food.isna().sum()

i_ident            0
i_weight           0
fat_content        0
i_visibility       0
i_type             0
max_retprice       0
o_identify         0
estab_year         0
o_size          2410
o_loctype          0
o_type             0
io_sales           0
dtype: int64

In [123]:
df_food.dropna(axis=1, inplace=True)
df_food.isna().sum()
#No Missing Values! Hooray!

i_ident         0
i_weight        0
fat_content     0
i_visibility    0
i_type          0
max_retprice    0
o_identify      0
estab_year      0
o_loctype       0
o_type          0
io_sales        0
dtype: int64

I dropped the rows for Item_Weight, as I felt the loss of 1000 out of 8.5k Wouldn't be too much of a loss, and completely dropped Outlet_Type as it seems somewhat unhelpful.

In [124]:
df_food.head()

,i_ident,i_weight,fat_content,i_visibility,i_type,max_retprice,o_identify,estab_year,o_loctype,o_type,io_sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,Tier 3,Supermarket Type1,994.7052

In [125]:
df_food.value_counts().sum()

7060

In [126]:
df_food["i_ident"].value_counts()
#A bit too much to analyze, and the values are abstract

FDF22    8
FDG33    8
DRE49    8
NCY18    8
DRN47    8
        ..
NCS41    1
FDP15    1
NCU29    1
FDH52    1
NCT53    1
Name: i_ident, Length: 1555, dtype: int64

In [127]:
#Lets try skipping over the more abstract values
df_food['fat_content'].value_counts()
#Ah here we go

Low Fat    4222
Regular    2388
LF          260
reg         106
low fat      84
Name: fat_content, dtype: int64

In [128]:
df_food['fat_content'] = df_food['fat_content'].replace('LF', 'Low Fat')
df_food['fat_content'] = df_food['fat_content'].replace('low fat', 'Low Fat')
df_food['fat_content'] = df_food['fat_content'].replace('reg', 'Regular')

In [131]:
df_food['fat_content'].value_counts()

Low Fat    4566
Regular    2494
Name: fat_content, dtype: int64

In [132]:
df_food['i_type'].value_counts()
#This ones fine

Fruits and Vegetables    1019
Snack Foods               988
Household                 759
Frozen Foods              718
Dairy                     566
Canned                    539
Baking Goods              536
Health and Hygiene        430
Soft Drinks               374
Meat                      337
Breads                    204
Hard Drinks               183
Others                    137
Starchy Foods             130
Breakfast                  89
Seafood                    51
Name: i_type, dtype: int64

In [133]:
df_food['o_loctype'].value_counts()
#as is this one, just one more!

Tier 2    2785
Tier 3    2415
Tier 1    1860
Name: o_loctype, dtype: int64

In [134]:
df_food['o_type'].value_counts()
#This one is A-OK

Supermarket Type1    5577
Supermarket Type2     928
Grocery Store         555
Name: o_type, dtype: int64

In [135]:
df_food.head()

,i_ident,i_weight,fat_content,i_visibility,i_type,max_retprice,o_identify,estab_year,o_loctype,o_type,io_sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,Tier 3,Supermarket Type1,994.7052

In [139]:
df_food[['i_weight', 'i_visibility', 'max_retprice', 'estab_year', 'io_sales']].describe().round(2)
#This gives us a decent amount of info but what if I wanted to isolate certain aggregates?
#Lets look at only min, max, and mean!

       i_weight  i_visibility  max_retprice  estab_year  io_sales
count   7060.00       7060.00       7060.00     7060.00   7060.00
mean      12.86          0.06        141.24     2000.49   2118.63
std        4.64          0.05         62.41        6.59   1533.45
min        4.56          0.00         31.49     1987.00     33.29
25%        8.77          0.03         94.14     1997.00    922.80
50%       12.60          0.05        142.73     2002.00   1789.67
75%       16.85          0.09        186.02     2007.00   2966.14
max       21.35          0.31        266.89     2009.00  10256.65

In [148]:
acco = df_food[['i_weight', 'i_visibility', 'max_retprice', 'estab_year', 'io_sales']]
acco.agg(['min', 'max', 'mean']).round(2)
#Nice, clean, and rounded for convienience.

      i_weight  i_visibility  max_retprice  estab_year  io_sales
min       4.56          0.00         31.49     1987.00     33.29
max      21.35          0.31        266.89     2009.00  10256.65
mean     12.86          0.06        141.24     2000.49   2118.63